<div class="row">
  <div class="col-md-12">
    <h1>New Poker Game</h1>
    <div class="well">
      <%= render 'form', poker_game: @poker_game %>
      
      <%= link_to 'Back', poker_games_path %>
    </div>
  </div>
</div>
